<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <router-view/>
  </div>
</template>

<script>
import { mapActions} from 'vuex'

export default {
  methods: {
    ...mapActions(['readToken'])
  },
  beforeMount(){
    this.readToken()
  }
}
</script>

<style>
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#app {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}
#swal2-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  padding: .6em 1em .6em;
}
#swal2-html-container{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: left;
  padding: 0px 20px 10px 20px;
}
.swal2-icon-content{
  font-family: 'Roboto', sans-serif;
}
:root{
  --bg-color: #f7f9fb;
  --bg-color-two: #1ecaaa18;
  --color-gray: #6e6e6f;
  --color-gray-two: #c8c6c4f1;
  --color-gray-three: #5f8a8118;
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #1ecaab;
}
</style>
