<template>
  <div class="form">
    <div class="container">
      <div class="container__form">
        <div class="container__center">
          <h1 class="container__title">Uleam</h1>
          <h2 class="container__subtitle">Ingresa al sistema de <br> Tutorías Académicas</h2>
          <form @submit.prevent="login(user)">
            <div>
              <input type="email" name="" placeholder="Correo" v-model="user.email">
            </div>
            <div>
              <input type="password" name="" placeholder="Contraseña" v-model="user.password">
            </div>
            <div>
              <input type="submit" value="Ingresar">
            </div>
          </form>
          <p class="container__footer">© 2021 🚀 Todos los derechos reservados </p>
        </div>
      </div>
      <div class="container__bg">
        
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Home',

  data(){
    return{
      user: {
        email: '',
        password: ''
      }
    }
  },

  methods: {
    ...mapActions(['login'])
  },
}
</script>

<style scoped>
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  text-align: center;
}
.container__form{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container__title{
  padding-bottom: 100px;
  font-size: 22px;
  font-weight: 500;
  color: var(--color-primary);
}
.container__subtitle{
  font-size: 28px;
  font-weight: 700;
}
input[type="email"],
input[type="password"]{
  height: 45px;
  width: 320px;
  margin-bottom: 10px;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  font-family: 'Roboto', sans-serif;
}
input[type="submit"]{
  height: 50px;
  width: 342px;
  margin-bottom: 10px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  letter-spacing: 0.5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
input[type]:focus{
  border: 2px solid var(--color-primary);
  outline: 0 none;
}
.container__form{
  background-color: var(--color-white);
}
.container__footer{
  padding-top: 150px;
  font-size: 14px;
  color: var(--color-gray);
}
.container__bg{
  background-image: url(../assets/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
</style>