<template>
  <div class="main">
    <Nav/>
    <div class="title__main">
      <p>Datos personales del estudiante</p>
    </div>
    <div class="main__two">
      <div class="main__grid">
        <div class="main__class">
          <div class="main__flex">
            <div class="main__icon">
              <img src="@/assets/user.svg" alt="Logotipo de clase">
            </div>
            <div class="main__data">
              <p class="main__materia">
                ESTUDIANTE
              </p>
              <p class="margin">
                <b>Nombres: </b>{{user.name}}
              </p>
              <p class="margin">
                <b>Apellidos: </b>{{user.lastname}}
              </p>
              <p class="margin">
                <b>Email: </b>{{user.email}}
              </p>
              <p class="margin">
                <b>Rol: </b>{{user.role.charAt(0).toUpperCase() + user.role.slice(1)}}
              </p>
            </div>
          </div>
          <div class="buttons">
            <router-link tag="span" to="/inicio">
              <a type="button" class="main__tutoria">Inicio</a>
            </router-link>
            <a type="button" @click="cerrarSesion" class="main__tutoria">Salir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from '@/components/Nav.vue'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'ProfileStudent',
  data(){
    return{
      result: []
    }
  },
  components:{
    Nav
  },
  computed: {
    ...mapState(['token', 'user'])
  },
  methods: {
    ...mapActions(['cerrarSesion'])
  },
}
</script>

<style scoped>
body{
  overflow:hidden;
}
.title__main{
  background-color: var(--color-white);
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 51px 35px 0px 35px;
}
.main__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  
}
.main__two{
  padding: 21px 35px 35px 35px;
  overflow:hidden;
}

.main__class{
  background-color: var(--color-white);
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  margin-bottom: 18px;
}
.main__flex{
  display: flex;
  margin: 20px 10px 10px 10px;
}
.main__icon{
  width: 50px;
}

.main__materia{
  margin: 5px 0px 3px 0px;
}
.margin{
  margin: 0px 0px 2px 0px;
  color: var(--color-gray);
  font-size: 14px;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0px 10px 10px 10px;
  
}
.main__tutoria{
  padding: 20px 10px;
  display: block;
  background-color: var(--color-gray-three);
  text-align: center;
  text-decoration: none;
  color: var(--color-gray);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.main__tutoria:hover{
  background-color: var(--bg-color-two);
  color: var(--color-primary);
}
</style>
