<template>
  <div class="main">
    <Nav/>
    <div class="title__main">
      <p>Materias</p>
    </div>
    <div class="main__two">
      <div class="main__grid">
        <div class="class" v-for="subject of result" :key="subject._id">
          <div class="main__class">
            <div class="main__flex">
              <div class="main__icon">
                <img src="@/assets/class.svg" alt="Logotipo de clase">
              </div>
              <div class="main__data">
                <p class="main__materia">
                  {{subject.name}}
                </p>
                <p class="margin">
                  <b>Paralelo: </b>{{subject.class}}
                </p>
                <p class="margin">
                  <b>Nombres: </b>{{subject.teacher.name}}
                </p>
                <p class="margin">
                  <b>Apellidos: </b>{{subject.teacher.lastname}}
                </p>
                <p class="margin">
                  <b>Email: </b>{{subject.teacher.email}}
                </p>
              </div>
            </div>
              <router-link tag="span" :to="{name: 'TeacherSendTutoring', params: {id: subject._id}}">
                <a href="" class="main__tutoria__send">Crear una tutoría</a>
              </router-link>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from '@/components/TeacherNav.vue'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'TeacherMain',
  data(){
    return{
      result: []
    }
  },
  components:{
    Nav
  },
  computed: {
    ...mapState(['token'])
  },
  methods: {
    ...mapActions(['getSubjectsTeacher'])
  },
  async mounted(){
    const response = await this.getSubjectsTeacher(this.token)
    this.result = response
  }
}
</script>

<style scoped>
body{
  overflow:hidden;
}
.title__main{
  background-color: var(--color-white);
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 51px 35px 0px 35px;
}
.main__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  
}
.main__two{
  padding: 21px 35px 35px 35px;
  overflow:hidden;
}
/* MATERIAS */
.main__class{
  background-color: var(--color-white);
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 .2rem .4rem -.070rem rgba(0,0,0,.1);
  border: 1px solid var(--color-gray-two);
}
.main__flex{
  display: flex;
  margin: 20px 10px 10px 10px;
}
.main__icon{
  width: 50px;
}
.main__tutoria__send{
  padding: 20px 5px;
  display: block;
  background-color: var(--color-gray-three);
  text-align: center;
  text-decoration: none;
  color: var(--color-gray);
  border-radius: 5px;
  margin: 10px;
}
.main__tutoria__send:hover{
  background-color: var(--bg-color-two);
  color: var(--color-primary);
}
.main__materia{
  margin: 5px 0px 3px 0px;
}
.margin{
  margin: 0px 0px 2px 0px;
  color: var(--color-gray);
  font-size: 14px;
}
</style>